extends ../layout
block content
	.col-sm-2
		nav.nav.flex-column
			a.nav-link(href='/render/') Volver al inicio
	.col-sm-10
		h3 Update record in List
		form(id="formUpdateComentarios", action="/render/updateOneInComentarios", method="POST")
			.form-group
				input.form-control(id='id', name='id', type='hidden', value=record.id)
			.form-group
				label texto *
				input.form-control(id='texto', name='texto', type='text', value=record.texto, required='')

			.form-group
				label texto *
				input.form-control(id='TelevisoresListadosId', name='TelevisoresListadosId', type='text', value=record.texto, required='')

			.form-group
				button.btn.btn-primary(type='submit') Update
				button.btn.btn-primary.margin-btn(type='reset') Reset
