extends ../layout
block content
	.col-sm-2
		nav.nav.flex-column
			a.nav-link(href='/render/') Volver al inicio
	.col-sm-10
		h3 Update record in List
		form(id="formUpdateCOmentario", action="/render/updateOneInCOmentario", method="POST")
			.form-group
				input.form-control(id='id', name='id', type='hidden', value=record.id)
			.form-group
				label TextoComentario *
				input.form-control(id='TextoComentario', name='TextoComentario', type='text', value=record.TextoComentario, required='')

			.form-group
				button.btn.btn-primary(type='submit') Update
				button.btn.btn-primary.margin-btn(type='reset') Reset
