extends ../layout
block content
	.col-sm-2
		nav.nav.flex-column
			a.nav-link(href='/render/page') COmentaris


	.col-sm-10
		h3 Form
		form(id="formTelevisoresListados", action="/render/insertOneInTelevisoresListados", method="POST")
			.form-group
				label Titulo *
				input.form-control(id='Titulo', name='Titulo',type='text', required='')
			.form-group
				label precio *
				input.form-control(id='precio', name='precio',type='text', required='')

			.form-group
				button.btn.btn-primary(type='submit') Submit
				button.btn.btn-primary.margin-btn(type='reset') Reset

		h3 List
		table.table
			thead.thead-dark
				tr
					th(scope='col') id
					th(scope='col') Titulo
					th(scope='col') precio

			tbody
				if(recordsFromTelevisoresListados)
					each item in recordsFromTelevisoresListados
						tr
							td=item.id
							td=item.Titulo
							td=item.precio

							td 
								a.btn.btn-danger(href='/render/deleteOneFromTelevisoresListados/'+item.id, role='button') Delete
							td
								a.btn.btn-primary(href='/render/updateOneInTelevisoresListados/'+item.id, role='button') Edit
							td
								a.btn.btn-secondary(href='/render/detailOfOneFromTelevisoresListados/'+item.id, role='button') Detail


