extends ../layout
block content
	.col-sm-2
		nav.nav.flex-column

	.col-sm-10
		h3 List
		table.table
			thead.thead-dark
				tr
					th(scope='col') id
					th(scope='col') property

			tbody
				if(recordsFromComentarios)
					each item in recordsFromComentarios
						tr
							td=item.id
							td=item.property

							td 
								a.btn.btn-danger(href='/render/deleteOneFromComentarios/'+item.id, role='button') Delete
							td
								a.btn.btn-primary(href='/render/updateOneInComentarios/'+item.id, role='button') Edit
							td
								a.btn.btn-secondary(href='/render/detailOfOneFromComentarios/'+item.id, role='button') Detail


